@import "../../styles/mainStyle.scss";

.courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20px;

    .mainContentTitle {
      font-size: 80px;
    }
  }
  .coursesContent{
    margin-top: 10px;
    width: 95%;
  }
}
